@import "../../baseSCSS/_variable.scss";

.layoutDefault {
    min-height: 100vh;
    padding: 0 50px;
    font-size: 16px;
    color: $colorTwo !important;

    &__header {
        background-color: $colorOne;
        @include display-flex();
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 0;

        &--control {
            a {
                margin-right: 25px;
                color: $colorTwo !important;
                font-weight: 500;

                &:hover {
                    color: $colorThree !important;
                    transition: all 0.5s ease-in-out;
                }
            }

            a:last-child {
                margin-right: 0;
            }

            &--login button {
                border-radius: 50rem;
                color: $colorThree;
                border-color: $colorThree;
                width: 100px;
                height: 45px;
                font-weight: 500;
                font-size: 16px;

                &:hover {
                    background-color: $colorThree !important;
                    border-color: $colorThree !important;
                    color: $colorOne !important;
                    transition: all 0.5s ease-in-out;
                }


            }

            &--signUp button {
                border-radius: 50rem;
                color: $colorOne;
                border-color: $colorThree;
                background-color: $colorThree !important;
                width: 100px;
                height: 45px;
                font-weight: 500;
                font-size: 16px;

                &:hover {
                    background-color: $colorOne !important;
                    border-color: $colorThree !important;
                    color: $colorThree !important;
                    transition: all 0.5s ease-in-out;
                }


            }
        }
    }

    &__footer {
        font-size: 16px;
        width: 100%;

        a {
            color: $colorTwo !important;
            transition: all 0.2s ease-in-out;


            &:hover {
                color: $colorThree !important;
                transition: all 0.5s ease-in-out;
                letter-spacing: 2px;
            }
        }

        table {
            text-align: left;
            width: 100%;
        }

        tr {
            th {
                font-size: 20px;
            }

            th,
            td {
                width: 25%;
                vertical-align: top;
            }

            th:nth-child(2),
            td:nth-child(2) {
                width: 15%;
            }

            th:nth-child(3),
            td:nth-child(3) {
                width: 40%;
                padding-right: 25px;
            }

        }

        img {
            width: 40px;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}