USE [WebAPI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bai_Hocs]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bai_Hocs](
	[Id_Lesson] [int] IDENTITY(1,1) NOT NULL,
	[Title_Lesson] [nvarchar](150) NOT NULL,
	[UrlVideo] [nvarchar](max) NOT NULL,
	[Duration] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[Id_Chuong] [int] NOT NULL,
 CONSTRAINT [PK_Bai_Hocs] PRIMARY KEY CLUSTERED 
(
	[Id_Lesson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuong]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong](
	[Id_Chuong] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Id_KH] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Chuong] PRIMARY KEY CLUSTERED 
(
	[Id_Chuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CorrectAnswers]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorrectAnswers](
	[Id_CorrectAnswer] [int] IDENTITY(1,1) NOT NULL,
	[Content_Answer] [nvarchar](200) NOT NULL,
	[Id_Question] [int] NOT NULL,
	[IsCorrect] [bit] NULL,
 CONSTRAINT [PK_CorrectAnswers] PRIMARY KEY CLUSTERED 
(
	[Id_CorrectAnswer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Muc]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Muc](
	[Id_DM] [int] IDENTITY(1,1) NOT NULL,
	[Ten_DM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Danh_Muc] PRIMARY KEY CLUSTERED 
(
	[Id_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa_Hoc]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa_Hoc](
	[Id_KH] [uniqueidentifier] NOT NULL,
	[Ten_Khoa_Hoc] [nvarchar](100) NOT NULL,
	[Mieu_ta] [nvarchar](max) NOT NULL,
	[Gia] [float] NOT NULL,
	[GiamGia] [tinyint] NOT NULL,
	[Url_Img] [nvarchar](max) NULL,
	[Id_DM] [int] NOT NULL,
 CONSTRAINT [PK_Khoa_Hoc] PRIMARY KEY CLUSTERED 
(
	[Id_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id_Question] [int] IDENTITY(1,1) NOT NULL,
	[Content_Question] [nvarchar](500) NOT NULL,
	[IsEssay] [bit] NOT NULL,
	[Id_Test] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id_Question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Id_Test] [int] IDENTITY(1,1) NOT NULL,
	[Title_Test] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsEssay] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Id_Lesson] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[Id_Test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_KhoaHocs]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_KhoaHocs](
	[UserId] [nvarchar](450) NOT NULL,
	[ID_KH] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_User_KhoaHocs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTest]    Script Date: 12/10/2024 12:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTest](
	[Id_UserTest] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Id_Test] [int] NOT NULL,
	[CompletedAt] [datetime2](7) NOT NULL,
	[Score] [int] NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserTest] PRIMARY KEY CLUSTERED 
(
	[Id_UserTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241113194231_KhoaHoc', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241113194703_Img', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241114032846_DanhMuc', N'8.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'24f103cf-abd4-469c-9a8b-dda40b7b5e86', N'Student', N'STUDENT', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5b07e37b-77e8-474d-b335-ceff688419c3', N'Administrator', N'ADMINISTRATOR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd8d61737-15ad-4d23-94df-093eed5d0b65', N'Lecturer', N'LECTURER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a0ff391e-63ea-48dd-a34f-8de72896aa40', N'24f103cf-abd4-469c-9a8b-dda40b7b5e86')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3bab5099-045a-4153-b486-1062c7c1f92f', N'5b07e37b-77e8-474d-b335-ceff688419c3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c29ec2ef-e58f-4ea2-80d6-e000ca9f1be1', N'd8d61737-15ad-4d23-94df-093eed5d0b65')
GO
SET IDENTITY_INSERT [dbo].[Bai_Hocs] ON 

INSERT [dbo].[Bai_Hocs] ([Id_Lesson], [Title_Lesson], [UrlVideo], [Duration], [OrderIndex], [Id_Chuong]) VALUES (2, N'Bai234', N'https://youtu.be/EHFeseNJDM4?si=z0IfNsRb50fZMpKw', 10, 1, 2)
SET IDENTITY_INSERT [dbo].[Bai_Hocs] OFF
GO
SET IDENTITY_INSERT [dbo].[Chuong] ON 

INSERT [dbo].[Chuong] ([Id_Chuong], [Name], [Id_KH]) VALUES (2, N'chuong 2', N'644f5942-bedd-4fba-795f-08dd04660874')
INSERT [dbo].[Chuong] ([Id_Chuong], [Name], [Id_KH]) VALUES (6, N'string2', N'a5aef016-8693-49e6-3618-08dd0466be1d')
INSERT [dbo].[Chuong] ([Id_Chuong], [Name], [Id_KH]) VALUES (7, N'chuong 3', N'644f5942-bedd-4fba-795f-08dd04660874')
SET IDENTITY_INSERT [dbo].[Chuong] OFF
GO
SET IDENTITY_INSERT [dbo].[CorrectAnswers] ON 

INSERT [dbo].[CorrectAnswers] ([Id_CorrectAnswer], [Content_Answer], [Id_Question], [IsCorrect]) VALUES (1, N'string', 1, 1)
INSERT [dbo].[CorrectAnswers] ([Id_CorrectAnswer], [Content_Answer], [Id_Question], [IsCorrect]) VALUES (2, N'string', 2, 1)
INSERT [dbo].[CorrectAnswers] ([Id_CorrectAnswer], [Content_Answer], [Id_Question], [IsCorrect]) VALUES (3, N'string', 3, 1)
SET IDENTITY_INSERT [dbo].[CorrectAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[Danh_Muc] ON 

INSERT [dbo].[Danh_Muc] ([Id_DM], [Ten_DM]) VALUES (10, N'12345')
INSERT [dbo].[Danh_Muc] ([Id_DM], [Ten_DM]) VALUES (5, N'cuong111')
INSERT [dbo].[Danh_Muc] ([Id_DM], [Ten_DM]) VALUES (9, N'cuong2134')
SET IDENTITY_INSERT [dbo].[Danh_Muc] OFF
GO
INSERT [dbo].[Khoa_Hoc] ([Id_KH], [Ten_Khoa_Hoc], [Mieu_ta], [Gia], [GiamGia], [Url_Img], [Id_DM]) VALUES (N'644f5942-bedd-4fba-795f-08dd04660874', N'HTML', N'HTML RAT TUYET', 2220, 20, N'string', 5)
INSERT [dbo].[Khoa_Hoc] ([Id_KH], [Ten_Khoa_Hoc], [Mieu_ta], [Gia], [GiamGia], [Url_Img], [Id_DM]) VALUES (N'a5aef016-8693-49e6-3618-08dd0466be1d', N'HTML123', N'HTML RAT TUYET', 2420, 50, N'string', 1)
INSERT [dbo].[Khoa_Hoc] ([Id_KH], [Ten_Khoa_Hoc], [Mieu_ta], [Gia], [GiamGia], [Url_Img], [Id_DM]) VALUES (N'5238f48d-6573-43c6-361a-08dd0466be1d', N'BBBB', N'PPPPP', 60, 90, N'string', 1)
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id_Question], [Content_Question], [IsEssay], [Id_Test]) VALUES (1, N'HTML LA GI', 1, 3)
INSERT [dbo].[Questions] ([Id_Question], [Content_Question], [IsEssay], [Id_Test]) VALUES (2, N'string', 1, 4)
INSERT [dbo].[Questions] ([Id_Question], [Content_Question], [IsEssay], [Id_Test]) VALUES (3, N'string', 1, 6)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([Id_Test], [Title_Test], [Description], [IsEssay], [CreatedAt], [Id_Lesson]) VALUES (3, N'KIEM TRA 1 TIET', N'THOI GIANG LAM BAI LA 45 PHUT', 1, CAST(N'2024-12-08T12:50:50.9926976' AS DateTime2), 2)
INSERT [dbo].[Tests] ([Id_Test], [Title_Test], [Description], [IsEssay], [CreatedAt], [Id_Lesson]) VALUES (4, N'Kiem tra hoc kỳ 2', N'thời gian 15p', 1, CAST(N'2024-12-08T13:16:42.1562358' AS DateTime2), 2)
INSERT [dbo].[Tests] ([Id_Test], [Title_Test], [Description], [IsEssay], [CreatedAt], [Id_Lesson]) VALUES (6, N'kiem tra 1 tiet', N'thoi gan 45p', 1, CAST(N'2024-12-08T13:18:42.1471506' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bai_Hocs]  WITH CHECK ADD  CONSTRAINT [FK_Bai_Hocs_Chuong_Id_Chuong] FOREIGN KEY([Id_Chuong])
REFERENCES [dbo].[Chuong] ([Id_Chuong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bai_Hocs] CHECK CONSTRAINT [FK_Bai_Hocs_Chuong_Id_Chuong]
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD  CONSTRAINT [FK_Chuong_Khoa_Hoc_Id_KH] FOREIGN KEY([Id_KH])
REFERENCES [dbo].[Khoa_Hoc] ([Id_KH])
GO
ALTER TABLE [dbo].[Chuong] CHECK CONSTRAINT [FK_Chuong_Khoa_Hoc_Id_KH]
GO
ALTER TABLE [dbo].[CorrectAnswers]  WITH CHECK ADD  CONSTRAINT [FK_CorrectAnswers_Questions_Id_Question] FOREIGN KEY([Id_Question])
REFERENCES [dbo].[Questions] ([Id_Question])
GO
ALTER TABLE [dbo].[CorrectAnswers] CHECK CONSTRAINT [FK_CorrectAnswers_Questions_Id_Question]
GO
ALTER TABLE [dbo].[Khoa_Hoc]  WITH CHECK ADD  CONSTRAINT [FK_Khoa_Hoc_Danh_Muc_Id_DM] FOREIGN KEY([Id_DM])
REFERENCES [dbo].[Danh_Muc] ([Id_DM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Khoa_Hoc] CHECK CONSTRAINT [FK_Khoa_Hoc_Danh_Muc_Id_DM]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests_Id_Test] FOREIGN KEY([Id_Test])
REFERENCES [dbo].[Tests] ([Id_Test])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests_Id_Test]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Bai_Hocs_Id_Lesson] FOREIGN KEY([Id_Lesson])
REFERENCES [dbo].[Bai_Hocs] ([Id_Lesson])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Bai_Hocs_Id_Lesson]
GO
ALTER TABLE [dbo].[User_KhoaHocs]  WITH CHECK ADD  CONSTRAINT [FK_User_KhoaHocs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_KhoaHocs] CHECK CONSTRAINT [FK_User_KhoaHocs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[User_KhoaHocs]  WITH CHECK ADD  CONSTRAINT [FK_User_KhoaHocs_Khoa_Hoc_ID_KH] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[Khoa_Hoc] ([Id_KH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_KhoaHocs] CHECK CONSTRAINT [FK_User_KhoaHocs_Khoa_Hoc_ID_KH]
GO
ALTER TABLE [dbo].[UserTest]  WITH CHECK ADD  CONSTRAINT [FK_UserTest_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserTest] CHECK CONSTRAINT [FK_UserTest_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserTest]  WITH CHECK ADD  CONSTRAINT [FK_UserTest_Tests_Id_Test] FOREIGN KEY([Id_Test])
REFERENCES [dbo].[Tests] ([Id_Test])
GO
ALTER TABLE [dbo].[UserTest] CHECK CONSTRAINT [FK_UserTest_Tests_Id_Test]
GO
