@import "../../baseSCSS/_variable.scss";


.privacy {
  @include display-flex();
  justify-content: space-between;

  &__content {
    width: 70%;

    hr {
      border: none;
      border-color: transparent;
      height: 1px;
      background-color: #ddd;
      margin: 40px 0;
    }

    ul,
    ol {
      line-height: 1.8;
    }

    div {
      &.animate__animated {
        &:nth-child(odd) {
          animation: fadeInLeft;
          /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
          /* don't forget to set a duration! v*/
        }

        &:nth-child(even) {
          animation: fadeInRight;
          /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
          /* don't forget to set a duration! v*/
        }

        &:nth-child(3) {
          animation: fadeInUp;
          /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
          /* don't forget to set a duration! */
        }

        &:nth-child(4) {
          animation: fadeInUp;
          /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1.5s;
          /* don't forget to set a duration! */
        }
      }
    }

  }

  &__banner {
    width: 20%;

    div:nth-child(1) {
      height: 22vh;
    }

    div:nth-child(2) {
      position: sticky;
      top: 75px;
      max-height: 50vh;

      img {
        width: 100%;
        border-radius: 30px;
        padding: 20px;
      }
    }
  }
}